@use "index.sass" as styles
@use "buttons"
    
*
    box-sizing: border-box
    margin: 0
    padding: 0

main, header, footer
    outline: 1px solid #FF000020


body 
    font-family: "Red Hat Display"
    font-optical-sizing: auto
    background-color: styles.$white
    max-width: 100vw
    text-align: center

header
    display: flex
    flex-direction: column
    align-items: center
    max-width: 100vw
    padding: styles.$spacing-800-64 styles.$spacing-400-32
    

.meet-logo img
    width: 11.8rem
    height: auto
    text-align: center
    margin-top: 4.8rem

.header-hero-touchscreen
    display: flex
    justify-content: center
    width: 100vw
    height: 42.5vw
    background-image: url(../assets/mobile/image-hero.png)
    background-size: cover
    background-position: center
    margin-bottom: styles.$spacing-800-64
    @media (hover: hover)
        display: none

.header-hero-desktop
    display: none
    @media (hover: hover)
        display: block

// .header-hero-desktop img
//     width: 20vw
//     height: auto

.header-contents
    display: flex
    flex-direction: column
    // padding: styles.$spacing-800-64 0
    @media (hover)
        flex-direction: row

.header-contents img // only affects desktop; mobile hero image is applied as a background-image.
    // check this:
    width: 115vw


h1 
    @extend %text-preset-1
    
.header-text-buttons p
    @extend %text-preset-4
    padding: styles.$spacing-300-24 0

.button-wrapper
    display: flex
    flex-direction: column
    gap: styles.$spacing-200-16
    @media (min-width: styles.$breakpoint-tablet)
        flex-direction: row

footer
    padding: styles.$number-line-height 0
    position: relative

main 
    margin: styles.$number-line-height 0
    position: relative
    padding: 0 styles.$spacing-800-64

.tagline
    @extend %text-preset-3
    text-transform: uppercase

.h2-like
    @extend %text-preset-2

.description
    @extend %text-preset-4

.image-container
    display: grid
    grid-template: 1fr 1fr / 1fr 1fr
    padding-top: 100px
    width: 100%
    gap: styles.$spacing-200-16
    @media (min-width: styles.$breakpoint-tablet)
        grid-template: 1fr / repeat(4, 1fr) 

.image-container img 
    width: 100%
    height: auto
    border-radius: styles.$spacing-100-8

.number-component 
    margin: 0 auto
    width: max-content
    position: absolute
    top: calc(0rem - styles.$number-line-height)
    left: 50%
    transform: translatex(0 - styles.$button-height / 2)

.vertical-line
    height: styles.$number-line-height
    display: flex
    align-items: flex-end
    background: linear-gradient(to right, transparent 48%, styles.$slate-900 49.5%, styles.$slate-900 50.5%, transparent 52%)
    
.number
    background-color: styles.$white
    border: 1px solid styles.$slate-600
    border-radius: 50%
    margin: 0
    height: styles.$button-height
    width: styles.$button-height 
    display: flex
    align-items: center
    transform: translateY(styles.$button-height / 2)
    
.number p
    @extend %text-preset-5
    margin: 0 auto

main .main-text
    padding-bottom: styles.$spacing-800-64

footer
    background: linear-gradient(rgba(styles.$cyan-600, 0.85), rgba(styles.$cyan-600, 0.85)), url(../assets/mobile/image-footer.jpg)
    background-size: cover
    background-repeat: no-repeat

footer div.main-text
    display: flex
    flex-direction: column
    @media (min-width: styles.$breakpoint-desktop)
        flex-direction: row


