html {
  font-size: 10px;
}

h1 {
  font-weight: 900;
  font-size: 11vw;
  line-height: 110%;
  letter-spacing: 0;
}
@media (hover), (min-width: 700px) {
  h1 {
    font-size: 6.4rem;
  }
}

.h2-like {
  font-weight: 900;
  font-size: 9vw;
  line-height: 110%;
  letter-spacing: 0;
}
@media (hover), (min-width: 700px) {
  .h2-like {
    font-size: 4rem;
  }
}

.tagline {
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 110%;
  letter-spacing: 4px;
}

.description, .header-text-buttons p {
  font-weight: 500;
  font-size: 4.35vw;
  line-height: 150%;
  letter-spacing: 0;
}
@media (hover), (min-width: 700px) {
  .description, .header-text-buttons p {
    font-size: 1.8rem;
  }
}

.number p, button {
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0;
}

button {
  color: #fafafa;
  border: none;
  height: 5.6rem;
  border-radius: 2.8rem;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding: 0 3.5rem;
}
@media (min-width: 700px) {
  button {
    margin: unset;
  }
}

.button-cyan {
  background-color: rgb(77, 150, 169);
}

.button-cyan span {
  color: #8fe3f9;
}

.button-purple {
  background-color: #855fb1;
}

.button-purple span {
  color: #d9b8ff;
}

.number-component {
  margin: 0 auto;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: -10.8rem;
  left: 50%;
  transform: translatex(-2.8rem);
}

.vertical-line {
  height: 10.8rem;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(to right, transparent 48%, #d1d1df 49.5%, #d1d1df 50.5%, transparent 52%);
}

.number {
  background-color: #fafafa;
  border: 2px solid #d1d1df;
  border-radius: 50%;
  margin: 0;
  height: 5.8rem;
  width: 5.8rem;
  display: flex;
  align-items: center;
  transform: translateY(2.8rem);
}
.number p {
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.4rem 3.2rem;
}
.header-contents {
  display: flex;
  flex-direction: column;
}
@media (hover) and (min-width: 700px) {
  .header-contents {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    gap: 3.2rem;
  }
}
@media (hover) and (min-width: 890px) {
  .header-contents {
    gap: 6.4rem;
  }
}
@media (hover) and (min-width: 1120px) {
  .header-contents {
    gap: 11.2rem;
  }
}

.header-hero-touchscreen {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 42.5vw;
  background-image: url(../assets/mobile/image-hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 6.4rem;
}
@media (hover: none) and (min-width: 700px) {
  .header-hero-touchscreen {
    height: 39.5vw;
  }
}
@media (hover) {
  .header-hero-touchscreen {
    width: 54rem;
    height: 15rem;
    background-size: contain;
  }
}
@media (hover: hover) and (min-width: 700px) {
  .header-hero-touchscreen {
    display: none;
  }
}

@media (hover: hover) and (min-width: 700px) {
  .header-text-buttons {
    width: 420px;
    max-width: 420px;
    min-width: 420px;
  }
}
@media (hover: hover) and (min-width: 1120px) {
  .header-text-buttons {
    width: 500px;
  }
}

.header-hero-desktop {
  display: none;
}
@media (hover: hover) and (min-width: 700px) {
  .header-hero-desktop {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20rem;
    height: 15rem;
  }
}
@media (hover) and (min-width: 890px) {
  .header-hero-desktop {
    width: 30rem;
    height: 22.5rem;
  }
}
@media (hover: hover) and (min-width: 1120px) {
  .header-hero-desktop {
    width: 39.4rem;
    height: 30.3rem;
  }
}

.header-hero-desktop.hero-right {
  background-image: url(../assets/desktop/image-hero-right.png);
  background-position: left;
}

.header-hero-desktop.hero-left {
  background-image: url(../assets/desktop/image-hero-left.png);
  background-position: right;
}

h1 {
  margin-bottom: 2.4rem;
  text-wrap: balance;
  color: #28283d;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.4rem 0 0;
}
@media (min-width: 700px) {
  .button-wrapper {
    flex-direction: row;
    justify-content: center;
    gap: 1.6rem;
  }
}

main {
  margin: 10.8rem auto;
  position: relative;
  padding: 0 3.2rem;
  width: 100%;
}
@media (hover: none) and (min-width: 700px) {
  main {
    width: 86vw;
  }
}
@media (hover) {
  main {
    width: 40rem;
  }
}
@media (hover: hover) and (min-width: 700px) {
  main {
    width: 70rem;
    max-width: 112rem;
  }
}
@media (hover: hover) and (min-width: 1120px) {
  main {
    width: 112rem;
  }
}
main .main-text {
  padding-bottom: 6.4rem;
}

.image-container {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  padding-top: 100px;
  width: 100%;
  gap: 1.6rem;
  margin: 0 auto 6.4rem;
}
@media (min-width: 700px) {
  .image-container {
    grid-template: 1fr/repeat(4, 1fr);
  }
}
.image-container img {
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
}

.tagline {
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  color: rgb(77, 150, 169);
}

@media (hover) and (min-width: 700px) {
  .main-text-wrapper {
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
}

footer {
  background: linear-gradient(rgba(77, 150, 169, 0.85), rgba(77, 150, 169, 0.85)), url(../assets/mobile/image-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6.4rem 3.2rem;
  position: relative;
}
footer div.main-text {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1120px) {
  footer div.main-text {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (hover) and (min-width: 1120px) {
  footer p {
    text-align: left;
  }
}
footer p.h2-like, footer p.description {
  color: #fafafa;
}
@media (hover) and (min-width: 1120px) {
  footer p.h2-like, footer p.description {
    max-width: 35rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display";
  font-optical-sizing: auto;
  background-color: #fafafa;
  max-width: 100vw;
  text-align: center;
  color: #87879d;
}

.meet-logo img {
  width: 11.8rem;
  height: auto;
  text-align: center;
  margin-top: 4.8rem;
}
@media (hover: hover) and (min-width: 700px) {
  .meet-logo img {
    margin-top: 5.2rem;
  }
}

.h2-like {
  margin-bottom: 3.2rem;
  color: #28283d;
}/*# sourceMappingURL=styles.css.map */